body {
    font-family: "Roboto", "Arial", sans-serif;
    margin: 0;  
}

section {
    padding: 0 14rem;
}

a {
    text-decoration: none;
}


button {
    border: none;
    border-radius: 24px;
    height: 40px;
    padding: 0 24px;
    font-size: 18px;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
}

.cta-button {
    background-color: transparent;
    border: solid 2px #F9FAF8;
    color: #F9FAF8;
}

/**********

IDs

**********/

nav {
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
}

#nav-links {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 250px;
}

#nav-links li {
    display: inline;
    list-style-type: none;
}

#hero-section {
    background-color: #1F2937;
    height: 700px;
    display: flex;
    flex-flow: column;
}

#hero-main {
    display: flex;
    flex: 1;
    align-items: center;
}

#hero-main-second {
    display: flex;
    flex: 1;
}

.hero-text {
    flex: 1;
    margin: 0 4em 0 0;
}

.hero-image {
    flex: 1;
    background-color: pink;
}

/**********

TEXT

**********/

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

h2 {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    line-height: 2em;
}

h3 {
    margin: 0;
    font-size: 24px;
}

h4 {
    margin: 0;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.testimony-customer {
    margin: 2em 0;
    text-align: right;
}

.dark-text {
    color: #1F2937;
}

.light-text {
    color: #F9FAF8;
}

.line-height {
    line-height: 2em;
}

p {
    line-height: 2em;
}

#testimony-text {
    font-weight: 100;
    font-style: italic;
}


#nav-links a {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}

.hero-margin {
    margin: 0 0 40px 0;
}

.white-primary-text {
    color: #F9FAF8;
}

.white-secondary-text {
    color: #E5E7EB;
}



/**************

SERVICE CARDS

**************/

.card {
    width: 200px;
    margin: 50px 40px;
}

.card-image {
    border-style: solid;
    border-color: #3882F6;
    border-radius: 24px;
    width: 200px;
    height: 200px;
}

.card-layout {
    display: flex;
}

#card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 14rem;
    background-color: #F9FAF8;
}

.card-text p {
    text-align: center;
}


/**************

TESTIMONIES

**************/

#testimony-section {
    background-color: #E5E7EB;
    padding: 100px 14rem;
}

.testimony-space {
    width: 75%;
    margin: 0 auto;
}




/**************

CTA

**************/

#cta-section {
    padding: 100px 14rem;
}

#cta-area {
    display: flex;
    border-radius: 24px;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #3882F6;
    padding: 4rem 12rem;
}

#cta-text-area p {
    margin: 0;
}