body {
    background: #0A0908;
    margin: 0;
    font-family: "Source Sans Pro", "Arial", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
    animation: fadeIn 2s;
}

#nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 275px;
    padding: 0;
}

#nav-links li {
    display: inline;
    list-style-type: none;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    padding: 0px 150px;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("Images/Italian-Mediterranean-Style-Home.jpg") no-repeat scroll center center transparent;
    background-size: cover;
}

.hero-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 50px;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.hero-area div {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

#hero-headline {
    text-align: center;
    width: 550px;
}

a {
    color: #A9927D;
}

.a-nav-links {
    color: #F2F4F3;
}

h1 {
    color: #F2F4F3;
    font-family: "Playfair Display", "Times New Roman", serif;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.h1-cta {
    color: #A9927D;
}

h2 {
    font-family: "Playfair Display", "Times New Roman", serif;
    font-size: 32px;
    font-weight: bold;
    color: #22333B;
}

h3 {
    color: #F2F4F3;
    font-family: "Playfair Display", "Times New Roman", serif;
    font-size: 26px;
}

.h3-footer {
    margin: 18.620px 0px;
}

h4 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.h4-section {
    color: #5E503F;
}

.h4-footer {
    font-size: 14px;
    color: #DADDD8;
}

h5 {
    font-size: 20px;
    font-weight: 700;
    color: #22333B;
    margin: 10px 0px;
}

p {
    font-size: 14px;
    color: #888888;
    line-height: 24px;
}

.p-featured-project-name {
    color: #A9927D;
    text-transform: uppercase;
}

.p-featured-project-description {
    color: #DADDD8;
}

.p-footer-address {
    color: #DADDD8;
}

.p-footer-copyright {
    font-size: 12px;
    color: #DADDD8;
    text-transform: uppercase;
}

b {
    font-size: 14px;
    line-height: 24px;;
}

.b-22333b {
    color:#22333B;
}

.b-f2f4f3 {
    color: #F2F4F3;
}

button {
    height: 40px;
    border-radius: 20px;
    padding: 0px 24px;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    font-size: 14px;
    border: none;
}

.button-hero {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0px 24px 0px 16px;
}

.primary-button-color {
    background-color: #22333B;
    color: #F2F4F3;
    transition: all 1s ease;
}

.primary-button-color:hover {
    /*background-color: #73ACC7;*/
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
}

.hero-button-img {
    filter: invert(67%) sepia(24%) saturate(330%) hue-rotate(347deg) brightness(85%) contrast(89%);
    width: 18px;
    height: 18px;
}

.secondary-button-color {
    background-color: transparent;
    color: #22333B;
    border: solid 1px #22333B;
}

.cta-button-color {
    background-color: #A9927D;
    color: #F2F4F3;
}

#about {
    background-color: #DADDD8;
    padding: 150px 150px;
}

.about-card {
    background-color: #F2F4F3;
    display: flex;
    width: 1040px;
    margin: auto;
    border-radius: 12px;
}

.about-description {
    width: 520px;
    padding: 50px;
    box-sizing: border-box;
}

.about-photo {
    width: 520px;
    background-image: url("Images/azalea-mediterranean-exterior.jpg");
    background-size: 200%;
    background-position-x: -250px;
    background-position-y: -100px;
}

#services {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DADDD8;
    padding: 150px 0px;
    gap: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.service-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    border-radius: 12px;
    background-color: #F2F4F3;
    padding: 32px;
    box-sizing: border-box;
}

.service-card div {
    text-align: center;
}

.service-icons {
    padding: 10px;
}

#featured-projects {
    background-color: #DADDD8;
    padding: 100px 0px;
}

.featured-projects-headline {
    position: relative;
    left: 150px;
    width: 700px;
}

.featured-projects-description {
    display: flex;
    justify-content: space-between;
}

.featured-projects-description p {
    margin: 0;
}

.featured-projects-text {
    width: 450px;
}

.explore-more-projects {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 200px;
}

.explore-more-projects button {
    align-self: flex-start;
}

.featured-projects-carousel {
    display: flex;
    gap: 20px;
    overflow-x: hidden;
    margin: 50px 0px;
}

.project-card {
    height: 550px;
    background-color: #F2F4F3;
    border-radius: 12px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 800px;
    overflow: hidden;
}

.project-card-description {
    background-color: #5E503F;
    padding: 32px;
    width: 200px;
    border-bottom-right-radius: 12px;
}

#project-card-1 {
    background-image: url("Images/italian-style-home.jpg");
    background-size: 115%;
}

#project-card-2 {
    background-image: url("Images/Desert-Prairie-Home.jpg");
    background-size: 125%;
}

#project-card-3 {
    background-image: url("Images/transitional-kitchen.jpg");
    background-size: 115%;
}

#cta {
    background-image: url("Images/meritt-thomas-unsplash.jpg");
    background-position-y: -600px;
    padding: 150px 150px;
}

.cta-icons-space {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.cta-icon {
    width: 34px;
    height: 34px;
}

.cta-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(242, 244, 243, 0.85);
    padding: 82px;
    border-radius: 12px;
    width: 800px;
    margin: auto;
    gap: 42px;
}

.cta-card > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 607px;
}

.icon-spacing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    filter: invert(14%) sepia(16%) saturate(1116%) hue-rotate(154deg) brightness(100%) contrast(88%);
}

footer {
    display: flex;
    flex-direction: column;
    gap: 100px;
    background-color: #22333B;
    padding: 80px 150px;
}

footer > div {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.footer-icon-area {
    display: flex;
    justify-content: space-between;
    width: 140px; 
}

.footer-icon {
    filter: invert(69%) sepia(14%) saturate(569%) hue-rotate(347deg) brightness(84%) contrast(88%);
    width: 25px;
    height: 25px;
}

.footer-sitemap-links {
    display: flex;
    gap: 30px;
}

.sitemap-and-legal {
    display: flex;
    gap: 100px;
}